#logo {
    height: 5vh;
    position: absolute;
    top: 15px;
    left: 5px;
}

#left {
    position: aboslute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#balloons {
    height: 80vh;
    position: absolute;
    bottom: 30px;
}

#right {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
}

#text1 {
    color: white;
    font-size: 47px;
}

#text2 {
    color: white;
    font-size: 30px;
}

#getStarted {
    margin-top: 30px;
    font-size: 25px;
}