#body {
    margin: 15px;
}

.container {
    margin: 15px auto;
}

.panel-top {
    margin: 0 0 0 20px !important;
}

.panel {
    margin: 20px 0 0 20px;
    padding: 20px;
    border: 1px solid white;
}

.placeholder {
    height: 40px;
}

.chart {
    height: 50% !important;
}