@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #061125;
  overflow: hidden;
}

.container-fluid {
  padding: 0;
}

.h-60 {
  height: 60%;
}

.main-content {
  height: 100vh;
  margin-top: -66px;
}