@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #061125;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top-bar {
  height: 8vh;
}

.main-content {
  height: 92vh;
}

#h1 {
  font-size: 47px;
}

#h2 {
  font-size: 30px;
}

#h3 {
  font-size: 25px;
}